@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.hide-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
.hide-scrollbar::-webkit-scrollbar-button {
  background-color: transparent;
}
.hide-scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.hide-scrollbar::-webkit-scrollbar-track-piece:vertical {
  background-color: transparent;
}

.dark_blue_bg {
  background-color: #0a0a21;
}
